<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>A Tiny Piece of Vim</title>

<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>

<body bgcolor="#FFFFFF">

<!-- SUMMARY -->
<p class="aside-text">This is a brief summary of the email, the first text that will appear bellow the title.</p>

<!-- HEADER -->
<table class="head-wrap" bgcolor="#FFF">
	<tr>
		<td></td>
		<td class="header container">

				<div class="content">
					<table bgcolor="">
					<tr>
						<td><img src="tinyvim-logo.png" alt="A Tiny Piece of Vim"/></td>
            <td align="right"><h6 class="collapse">Issue #8</h6></td>
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>This is what you are going to learn today</h3>
            <p class="lead">I'll make it easy for you to decide wheter you should <strong>read</strong> or <strong>archieve</strong> this email on this paragraph. Right away.</p>

						<!-- A Real Hero (and a real human being) -->
						<p><img src="example.png" alt="10 seconds animated gif" /></p><!-- /hero -->

						<h3>Title Ipsum <small>This is a note.</small></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <p>
              Cheers,<br>
              <a href="http://twitter.com/felippenardi">@FelippeNardi</a>
            </p>
            <a href="http://twitter.com/felippenardi"><img src="fn.png" align="left"></a>


					</td>
				</tr>
			</table>
			</div>

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="https://github.com/felippenardi/ATinyPieceOfVim">See source on Github</a> |
							<a href="*|UNSUB|*"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
